@*@page "/Views/ChartPop/{Id:int?}"*@
@page "/Views/ChartPop"
@inject MyStateContainer myStateContainer
@inject MyStateContainer2 myStateContainer2
@inject MyStateContainer3 myStateContainer3
@inject GetProductionService _getProductionService;
@inject GetDomainDataService _getReportDataService;
@inject GetChartDataService _getChartDataService;


<h3>ChartPop</h3>


<RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1" Class="my-4">
    DataGrid <strong>Column Picker</strong>
</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" Class="my-4">
    Enable column picker by setting the AllowColumnPicking property to true.
</RadzenText>
@if (dataListTBD != null && dataListTBD2 == null)
{
    <RadzenButton Text="Toggle DomainID column visibility" Click=@(() => idVisable = !idVisable) Class="my-3" />
<RadzenDataGrid Data="@dataListTBD" TItem="TransByDate" ColumnWidth="300px" AllowColumnPicking="true" PickedColumnsChanged="@PickedColumnsChanged">
    <Columns>
        <RadzenDataGridColumn Visible="@idVisable" TItem="TransByDate" Property="TransByDateId" Title="ID" Width="80px" TextAlign="TextAlign.Center" Frozen="true" />
      
        <RadzenDataGridColumn TItem="TransByDate" Property="TransDate" Title="Date" FormatString="{0:d}" SortOrder="SortOrder.Ascending" />
        <RadzenDataGridColumn TItem="TransByDate" Property="TransCount" Title="Count" />
        <RadzenDataGridColumn TItem="TransByDate" Property="Net_Value" Title="Net" />
        <RadzenDataGridColumn TItem="TransByDate" Property="Vat_Value" Title="Vat"  />
        <RadzenDataGridColumn TItem="TransByDate" Property="Gross_Value" Title="Gross Value"  />
        <RadzenDataGridColumn TItem="TransByDate" Property="Gross_Sale_Value" Title="Sale Value" />
        <RadzenDataGridColumn TItem="TransByDate" Property="Discount_Value" Title="Discount" />
        
    </Columns>
</RadzenDataGrid>
}
@if (dataListTBD != null && dataListTBD2 != null)
{
    <RadzenButton Text="Toggle DomainID column visibility" Click=@(() => idVisable = !idVisable) Class="my-3" />
    <RadzenDataGrid Data="@mergedListTBD2" TItem="TransByDate" ColumnWidth="300px" AllowColumnPicking="true" PickedColumnsChanged="@PickedColumnsChanged">
        <Columns>
            <RadzenDataGridColumn Visible="@idVisable" TItem="TransByDate" Property="TransByDateId" Title="ID" Width="80px" TextAlign="TextAlign.Center" Frozen="true" />

            <RadzenDataGridColumn TItem="TransByDate" Property="TransDate" Title="Date" FormatString="{0:d}" SortOrder="SortOrder.Ascending" />
            <RadzenDataGridColumn TItem="TransByDate" Property="TransCount" Title="Count" />
            <RadzenDataGridColumn TItem="TransByDate" Property="Net_Value" Title="Net" />
            <RadzenDataGridColumn TItem="TransByDate" Property="Vat_Value" Title="Vat" />
            <RadzenDataGridColumn TItem="TransByDate" Property="Gross_Value" Title="Gross Value" />
            <RadzenDataGridColumn TItem="TransByDate" Property="Gross_Sale_Value" Title="Sale Value" />
            <RadzenDataGridColumn TItem="TransByDate" Property="Discount_Value" Title="Discount" />

        </Columns>
    </RadzenDataGrid>
}

@if (dataListTBM != null && dataListTBM2 == null)
{
    <RadzenButton Text="Toggle DomainID column visibility" Click=@(() => idVisable = !idVisable) Class="my-3" />
    <RadzenDataGrid Data="@dataListTBM" TItem="TransByMonth" ColumnWidth="300px" AllowColumnPicking="true">
        <Columns>
            @*<RadzenDataGridColumn Visible="@idVisable" TItem="TransByMonth" Property="TransByDateId" Title="ID" Width="80px" TextAlign="TextAlign.Center" Frozen="true" />
*@
            <RadzenDataGridColumn TItem="TransByMonth" Property="Month" Title="Date" SortOrder="SortOrder.Ascending" />
            <RadzenDataGridColumn TItem="TransByMonth" Property="TransCount" Title="Count" />
            <RadzenDataGridColumn TItem="TransByMonth" Property="Net_Value" Title="Net" />
            <RadzenDataGridColumn TItem="TransByMonth" Property="Vat_Value" Title="Vat" />
            <RadzenDataGridColumn TItem="TransByMonth" Property="Gross_Value" Title="Gross Value" />
            <RadzenDataGridColumn TItem="TransByMonth" Property="Gross_Sale_Value" Title="Sale Value" />
            <RadzenDataGridColumn TItem="TransByMonth" Property="Discount_Value" Title="Discount" />

        </Columns>
    </RadzenDataGrid>
}
@if (dataListTBM != null && dataListTBM2 != null)
{
    <RadzenButton Text="Toggle DomainID column visibility" Click=@(() => idVisable = !idVisable) Class="my-3" />
    <RadzenDataGrid Data="@mergedListTBM2" TItem="TransByMonth" ColumnWidth="300px" AllowColumnPicking="true">
        <Columns>
            @*<RadzenDataGridColumn Visible="@idVisable" TItem="TransByMonth" Property="TransByDateId" Title="ID" Width="80px" TextAlign="TextAlign.Center" Frozen="true" />
        *@
            <RadzenDataGridColumn TItem="TransByMonth" Property="Month" Title="Date" SortOrder="SortOrder.Ascending" />
            <RadzenDataGridColumn TItem="TransByMonth" Property="TransCount" Title="Count" />
            <RadzenDataGridColumn TItem="TransByMonth" Property="Net_Value" Title="Net" />
            <RadzenDataGridColumn TItem="TransByMonth" Property="Vat_Value" Title="Vat" />
            <RadzenDataGridColumn TItem="TransByMonth" Property="Gross_Value" Title="Gross Value" />
            <RadzenDataGridColumn TItem="TransByMonth" Property="Gross_Sale_Value" Title="Sale Value" />
            <RadzenDataGridColumn TItem="TransByMonth" Property="Discount_Value" Title="Discount" />

        </Columns>
    </RadzenDataGrid>
}

@if (datalistTBDept != null)
{
    <RadzenButton Text="Toggle DomainID column visibility" Click=@(() => idVisable = !idVisable) Class="my-3" />
    <RadzenDataGrid Data="@datalistTBDept" TItem="TransByDept" ColumnWidth="300px" AllowColumnPicking="true">
        <Columns>
            <RadzenDataGridColumn Visible="@idVisable" TItem="TransByDept" Property="TransByDateId" Title="ID" Width="80px" TextAlign="TextAlign.Center" Frozen="true" />



            <RadzenDataGridColumn TItem="TransByDept" Property="DepartmentId" Title="Date" FormatString="{0:d}" SortOrder="SortOrder.Ascending" />
            <RadzenDataGridColumn TItem="TransByDept" Property="Department" Title="Department" />
            <RadzenDataGridColumn TItem="TransByDept" Property="TransCount" Title="Count" />
            <RadzenDataGridColumn TItem="TransByDept" Property="Net_Value" Title="Net" />
            <RadzenDataGridColumn TItem="TransByDept" Property="Vat_Value" Title="Vat" />
            <RadzenDataGridColumn TItem="TransByDept" Property="Gross_Value" Title="Gross Value" />
            <RadzenDataGridColumn TItem="TransByDept" Property="Gross_Sale_Value" Title="Sale Value" />
            <RadzenDataGridColumn TItem="TransByDept" Property="Discount_Value" Title="Discount" />

        </Columns>
    </RadzenDataGrid>
}
@if (dataListTBCat != null)
{
    <RadzenButton Text="Toggle DomainID column visibility" Click=@(() => idVisable = !idVisable) Class="my-3" />
    <RadzenDataGrid Data="@dataListTBCat" TItem="TransByCat" ColumnWidth="300px" AllowColumnPicking="true">
        <Columns>
            <RadzenDataGridColumn Visible="@idVisable" TItem="TransByCat" Property="TransByCatId" Title="ID" Width="80px" TextAlign="TextAlign.Center" Frozen="true" />



            <RadzenDataGridColumn TItem="TransByCat" Property="CategoryId" Title="CategoryId"  />
            <RadzenDataGridColumn TItem="TransByCat" Property="Category" Title="Category" SortOrder="SortOrder.Ascending" />
            <RadzenDataGridColumn TItem="TransByCat" Property="TransCount" Title="Count" />
            <RadzenDataGridColumn TItem="TransByCat" Property="Net_Value" Title="Net" />
            <RadzenDataGridColumn TItem="TransByCat" Property="Vat_Value" Title="Vat" />
            <RadzenDataGridColumn TItem="TransByCat" Property="Gross_Value" Title="Gross Value" />
            <RadzenDataGridColumn TItem="TransByCat" Property="Gross_Sale_Value" Title="Sale Value" />
            <RadzenDataGridColumn TItem="TransByCat" Property="Discount_Value" Title="Discount" />

        </Columns>
    </RadzenDataGrid>
}
@if (dataListTBSubCat != null)
{
    <RadzenButton Text="Toggle DomainID column visibility" Click=@(() => idVisable = !idVisable) Class="my-3" />
    <RadzenDataGrid Data="@dataListTBSubCat" TItem="TransBySubCat" ColumnWidth="300px" AllowColumnPicking="true">
        <Columns>
            <RadzenDataGridColumn Visible="@idVisable" TItem="TransBySubCat" Property="TransByCatId" Title="ID" Width="80px" TextAlign="TextAlign.Center" Frozen="true" />



            <RadzenDataGridColumn TItem="TransBySubCat" Property="SubCategoryId" Title="SubCategoryId" />
            <RadzenDataGridColumn TItem="TransBySubCat" Property="SubCategory" Title="SubCategory" SortOrder="SortOrder.Ascending" />
            <RadzenDataGridColumn TItem="TransBySubCat" Property="TransCount" Title="Count" />
            <RadzenDataGridColumn TItem="TransBySubCat" Property="Net_Value" Title="Net" />
            <RadzenDataGridColumn TItem="TransBySubCat" Property="Vat_Value" Title="Vat" />
            <RadzenDataGridColumn TItem="TransBySubCat" Property="Gross_Value" Title="Gross Value" />
            <RadzenDataGridColumn TItem="TransBySubCat" Property="Gross_Sale_Value" Title="Sale Value" />
            <RadzenDataGridColumn TItem="TransBySubCat" Property="Discount_Value" Title="Discount" />

        </Columns>
    </RadzenDataGrid>
}
@if (dataListTBItem != null)
{
    <RadzenButton Text="Toggle DomainID column visibility" Click=@(() => idVisable = !idVisable) Class="my-3" />
    <RadzenDataGrid Data="@dataListTBItem" TItem="TransByItem" ColumnWidth="300px" AllowColumnPicking="true">
        <Columns>
            <RadzenDataGridColumn Visible="@idVisable" TItem="TransByItem" Property="TransByItemId" Title="ID" Width="80px" TextAlign="TextAlign.Center" Frozen="true" />



            <RadzenDataGridColumn TItem="TransByItem" Property="ItemId" Title="ItemId" />
            <RadzenDataGridColumn TItem="TransByItem" Property="Item" Title="Item" SortOrder="SortOrder.Ascending" />
            <RadzenDataGridColumn TItem="TransByItem" Property="TransCount" Title="Count" />
            <RadzenDataGridColumn TItem="TransByItem" Property="Net_Value" Title="Net" />
            <RadzenDataGridColumn TItem="TransByItem" Property="Vat_Value" Title="Vat" />
            <RadzenDataGridColumn TItem="TransByItem" Property="Gross_Value" Title="Gross Value" />
            <RadzenDataGridColumn TItem="TransByItem" Property="Gross_Sale_Value" Title="Sale Value" />
            <RadzenDataGridColumn TItem="TransByItem" Property="Discount_Value" Title="Discount" />
            <RadzenDataGridColumn TItem="TransByItem" Property="Domain" Title="Domain" />
            <RadzenDataGridColumn TItem="TransByItem" Property="Department" Title="Department" />
            <RadzenDataGridColumn TItem="TransByItem" Property="Category" Title="Category" />
            <RadzenDataGridColumn TItem="TransByItem" Property="SubCategory" Title="SubCategory" />
        </Columns>
    </RadzenDataGrid>
}

@code {

    ModelList _modelList;
    List<TransByDate> dataListTBD;
    List<TransByMonth> dataListTBM;
    List<TransByDept> datalistTBDept;
    List<TransByCat> dataListTBCat;
    List<TransBySubCat> dataListTBSubCat;
    List<TransByItem> dataListTBItem;

    ModelList _modelList2;
    List<TransByDate> dataListTBD2;
    List<TransByMonth> dataListTBM2;
    List<TransByDept> datalistTBDept2;
    List<TransByCat> dataListTBCat2;
    List<TransBySubCat> dataListTBSubCat2;
    List<TransByItem> dataListTBItem2;

    List<TransByDate> mergedListTBD2;
    List<TransByMonth> mergedListTBM2;
    List<TransByDept> mergedListTBDept2;
    List<TransByCat> mergedListTBCat2;
    List<TransBySubCat> mergedListTBSubCat2;
    List<TransByItem> mergedListTBItem2;

    int id;
    DateTime tranDate;
    int count;
    decimal net;
    decimal vat;
    decimal gross;
    decimal saleV;
    decimal discount;


    bool idVisable = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _modelList = myStateContainer.Value;
        dataListTBD = _modelList.transByDatesList;
        dataListTBM = _modelList.transByMonthList;
        datalistTBDept = _modelList.transByDeptList;
        dataListTBCat =_modelList.transByCatList;
        dataListTBSubCat = _modelList.transBySubCatList;
        dataListTBItem = _modelList.transByItemList;

        _modelList2 = myStateContainer2.Value;
        dataListTBD2 = _modelList2.transByDatesList;
        dataListTBM2 = _modelList2.transByMonthList;
        datalistTBDept2 = _modelList2.transByDeptList;
        dataListTBCat2 = _modelList2.transByCatList;
        dataListTBSubCat2 = _modelList2.transBySubCatList;
        dataListTBItem2 = _modelList2.transByItemList;

        mergedListTBD2 = new List<TransByDate>();


        if(dataListTBD != null && dataListTBD2 != null)
        {
            foreach(var t in dataListTBD2)
            {
                mergedListTBD2.Add(t);
            }
            foreach(var x in dataListTBD)
            {
                mergedListTBD2.Add(x);
            }
        }
        if (datalistTBDept2!= null && datalistTBDept != null)
        {
            foreach (var t in datalistTBDept2)
            {
                mergedListTBDept2.Add(t);
            }

            foreach (var x in datalistTBDept)
            {
                mergedListTBDept2.Add(x);
            }
        }
        if (dataListTBCat2 != null && dataListTBCat != null)
        {
            foreach (var t in dataListTBCat)
            {
                mergedListTBCat2.Add(t);
            }

            foreach (var x in dataListTBCat2)
            {
                mergedListTBCat2.Add(x);
            }
        }
        if (dataListTBSubCat != null && dataListTBSubCat2 != null)
        {
            foreach (var t in dataListTBSubCat)
            {
                mergedListTBSubCat2.Add(t);
            }

            foreach (var x in dataListTBSubCat2)
            {
                mergedListTBSubCat2.Add(x);
            }
        }
          if (dataListTBItem != null && dataListTBItem2 != null)
        {
            foreach (var t in dataListTBItem)
            {
                mergedListTBItem2.Add(t);
            }

            foreach (var x in dataListTBItem2)
            {
                mergedListTBItem2.Add(x);
            }
        }
    }
    

    void PickedColumnsChanged(DataGridPickedColumnsChangedEventArgs<TransByDate> args)
    {
    }

}

    

    


